body{
  background-image: url("/images/14334.jpg"),linear-gradient(110deg,#a7f93d, #00f1a1);
}
.but{
  text-align: center;

  }

.box{
    width: 50%;
    border: 1px solid black;
    border-radius: 8%;
  padding: 0px 20px 20px 20px;
  margin-left: 400px;


}
.bom{
  padding: 0px 20px 20px 20px;
  margin-left: 200px;
}
.bam{
  background-color: aqua;
}
