
<body>
  <mat-toolbar color ="accent" class="nav">
    <div>Hotel Management System</div>
    <div>
        <a [routerLink] = '["/login"]' [matTooltip] = message.value><span>Login Page</span></a>
    </div>
  </mat-toolbar>
<br><br><br><br>


<br>
<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
       <img src= "../../../assets/image/images.png"  style="width:50% ">
      <div class="container">
        <h2>Jane Doe</h2>
        <p class="title">OWNER</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>jane@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../../../assets/image/png-transparent-computer-icons-management-product-manager-businessperson-business-service-people-logo.png"  style="width:30% center">
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">MANAGER</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>mike@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../../../assets/image/download.png" alt="John" style="width:100%">
      <div class="container">
        <h2>John Doe</h2>
        <p class="title">RECEPTIONIST</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>john@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>



</body>
